@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

body {
    background-color: lightblue;
}

.header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: Norse-Bold, sans-serif;
    font-size: 90px;
}